body {
    background-color: palevioletred;
    padding: 0;
    margin: 0;
    height: 100%;
}

#name {
    margin-left: 50px;
    background-color: aquamarine;
    color: azure;
    max-width: 300px;
    text-align: center;
}

#navbar {
    border-bottom-style: solid;
    background-color: cornflowerblue;
    width: 100%;
}

.navbar-brand {
    color: darkred;
}

.container {
    margin-top: 50px;
    height: 500px;
    width: 50%;
    padding: 25px;
    background-color: darkred;
}

label {
    color: paleturquoise;
}

.footer {
    background-color: cyan;
    width: 100%;
    height: 50px;
    position: absolute;
    border-top: solid;
    bottom: 0;
    left: 0;
    right: 0;
}

@media only screen and (max-width: 600px) {
    body {
      background-color: rgb(53, 122, 145);
    }
  
    .card-columns {
      @include media-breakpoint-only(lg) {
        column-count: 4;
      }
    }
  }
